<ul class="fg-accordion uk-hidden@m" uk-accordion>
  {% comment %} Tutorials  {% endcomment %}
  {% if product.metafields.custom_fields['display_tutorial_links'] > 0 or product.metafields.custom_fields['display_download_files'] > 0 %}
    <li class="fg-accordian-list-item">
      <a class="fg-accordian-title uk-accordion-title" uk-icon="chevron-down" href="#resources">
        Resources
      </a>
      <div class="uk-accordion-content" id="resources">
        {% if product.metafields.custom_fields['display_tutorial_links'] > 0 %}
          <span class="fg-downloads-title">
            Tutorials
          </span>
          <ul class="fg-product-downloads fg-product-button-icon fg-product-button-icon_tutorial">
            {% assign array_tutorials = product.metafields.custom_fields['tutorial_link'] | split: '|' %}
            {% for article_handle in array_tutorials %}
              {% assign handle = article_handle | replace: '.', '/' %}
              <li>
                {{ articles[handle].title | link_to:  articles[handle].url }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if product.metafields.custom_fields['display_download_files'] > 0 %}
          <span class="fg-downloads-title">
            Downloads
          </span>
          <ul class="fg-product-downloads fg-product-button-icon fg-product-button-icon_download">
            {% assign download_content = 'download_1, download_2, download_3, download_4, download_5, download_6' %}
            {% assign download_content = download_content | split: ',' %}

            {% for download in download_content %}
              {% assign download_item = download | strip %}
              {% if product.metafields.custom_fields[download_item] != blank %}
                <li>
                  {{ product.metafields.custom_fields[download_item] }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </li>
  {% endif %}

  {% for tab in product_tab_list %}
    {% assign tab_title_default  = tab | split: '_' %}
    {% assign default_title = '' %}
    {% for default in tab_title_default %}
      {% assign format_default = default | strip %}
      {% assign format_default = format_default | capitalize %}
      {% assign default_title = default_title | append: format_default %}
      {% comment %} {% assign default_title = default_title | strip %} {% endcomment %}
      {% if forloop.last != true %}
        {% assign default_title = default_title | append: ' ' %}
      {% endif %}
    {% endfor %}
    {% assign tab_title = tab | strip | append: '_title' %}
    {% assign tab_content = tab | strip | append: '_content' %}
    {% if product.metafields.custom_fields[tab_content] != blank %}
      <li class="fg-accordian-list-item">
        <a class="fg-accordian-title uk-accordion-title" uk-icon="chevron-down" href="#{{ default_title | handleize }}">
          {% if product.metafields.custom_fields[tab_title] != blank %}
              {{ product.metafields.custom_fields[tab_title] }}
          {% else %}
              {{  default_title }}
          {% endif %}
        </a>
        <div class="uk-accordion-content" id="{{ default_title | handleize }}">
          {% if product.metafields.custom_fields[tab_content] != blank %}
            {{ product.metafields.custom_fields[tab_content] }}
          {% endif %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
