{% case shop.address.country  %}
  {% when 'Canada' %}
    {% assign logo_geo = 'firgelli-logo-ca.svg' %}
  {% when 'United States' %}
    {% assign logo_geo = 'firgelli-logo.svg' %}
  {% when 'Australia' %}
    {% assign logo_geo = 'firgelli-logo-au.svg' %}
{% endcase %}
<a href="/" class="fg-logo-image">
    <img  class="fg-logo-image__svg uk-preserve"
          uk-img="data-src:{{ logo_geo | asset_url }}"
          alt="{{ shop.name }} logo"
          itemprop="logo" uk-svg>
</a>
{% if settings.tagline != blank %}
  {% assign letter_space = settings.tagline_letter_spacing | times: 0.07 %}
  <div class="{{ settings.tagline_style }}">
    <span style="letter-spacing: {{ letter_space }}rem ">
      {{ settings.tagline }}
    </span>
  </div>
{% endif %}
