  <ul class="uk-flex uk-flex-center js-filter uk-grid-medium uk-grid-match" uk-grid>

    {% for block in section.blocks %}
      {% if block.settings.collection_title and block.settings.collection_title != blank %}
        {% assign product_title = block.settings.collection_title %}
      {% else %}
        {% case block.settings.collection_type %}
          {% when 'premium' or 'linear' or 'feedback' or 'track' or 'column' or 'bullet' or 'slide' %}
            {% assign product_title = block.settings.collection_type | capitalize  %}
            {% if block.settings.collection_type == 'slide' %}
              {% assign product_title = block.settings.collection_type | append: ' Rails' | capitalize  %}
            {% endif %}
          {% when 'table' or 'tv' %}
            {% assign product_title = block.settings.collection_type | append: ' Lifts' | capitalize  %}
          {% when 'bracket' or 'switch' or 'controller' or 'remote' or 'relay' or  'motor' or 'robotic' or 'cable' or 'power_supply' %}
            {% case block.settings.collection_type %}
              {% when 'bracket' %}
                {% assign product_title = block.settings.collection_type | append: 's' | capitalize  %}
              {% when 'accessory' %}
                {% assign product_title = 'Accessories' %}
              {% when 'controller' %}
                {% assign product_title = block.settings.collection_type | append: 's' | capitalize  %}
              {% else %}
            {% endcase %}
          {% else %}
        {% endcase %}
      {% endif %}

      {% assign icon_image = icon_image_base_url | append: block.settings.collection_type | append: '-kinetic'  %}
      {% assign icon_url = collection_path_base_url | append: block.settings.url_path %}
      <li class="{{ block.settings.card_width }}">
        <div class="{{ card_style }}">
          <div class="fg-container-full-height" uk-grid>
            <div class="uk-width-1-3@s uk-card-media-left fg-card-collection-icon__image-left" >
              <div class="fg-card-collection-icon__image-left_inner">
                {% include  icon_image %}
              </div>
            </div>
            <div class="uk-width-2-3@s fg-card-collection-icon__body-container">
              <div class="fg-card-collection-icon__body">
                <div class="uk-card-body fg-card-collection-icon__body-upper {{ card_body_height }}">
                  <h3 class="fg-card-collection-icon__title uk-text-uppercase">{{ product_title }}</h3>
                  <div class="fg-card-collection-icon__text">
                    {{  block.settings.collection_text }}
                  </div>
                  {% if card_style == '' %}
                      <a class="fg-button uk-button uk-button-primary fg-button-full-width" href="{{ collection_path_base_url | append: block.settings.collection_url }}">
                          Learn More
                      </a>
                    </div>
                  {% else %}
                   
                    </div>
                    <div class="fg-card__footer_collection">
                      <a class="fg-button uk-button uk-button-primary fg-button-full-width" href="{{ collection_path_base_url | append: block.settings.collection_url }}">
                        Learn More
                      </a>
                    </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>