<style>
.productCenterImage{
  place-self: center; 
  flex: auto; 
  align-items: center; 
  display: grid;
}

.productImageHidden{
  /*visibility: hidden !important;*/
}
.productSliderImageHidden{
  display: none;
}
  @media (max-width: 639px){
    .thumbnailSize{

      height: 140px;
    }
  }

  @media (max-width: 639px){
 .productImagePadding{
   padding-top: 20px;
 }
  }


  
@media (max-width: 639px){ 

  
.fg-product-title_mobile{
  height: 75px;
}
}
@media (min-width: 960px){ 
  .desktopSlider{
    transform: rotate(90deg);
    transform-origin: bottom right;
    left: 8%;
    align-self: center;
    position: relative;
    height: 149px;
  }
}
.hideOnSmallerScreen{

}
@media screen and (max-width: 1199px) and (min-width: 960px){
   .hideOnSmallerScreen{
      display: none;
  } 
}

</style>
<style>
.fg-product-downloads-container{
  visibility: hidden !important;
}
.fadedArrow{
  opacity: 0.3;
}
.sliderImagePadding{
  padding: 0 5px;
}
.sliderImagePaddingHidden{
  padding: 0 !important;
}
.focusedSliderImage{
  border-color: red !important;
  box-shadow: 0 0 16px 4px rgb(236 2 2 / 66%);
}

</style>

  
  {% if product.images.size > 1 %}
  {% assign i = 0 %}
  <div id="Slider" hidden class="fg-slick-nav productImagePadding" style="align-self: center; display: flex;{% if product.handle contains 'super-duty-actuators234' or product.handle contains 'c-series-actuators234'  %}visibility: hidden; {% endif %}">
    <span onclick="sliderArrowClick('left')" class="js-prev-arrow fadedArrow" uk-icon="icon: chevron-left; ratio: 2" style="align-self: center; scale: 1.7; padding-right: 5px;"></span>
      {% for image in product.images limit:1 %}
        <a data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail class="thumbnailSize sliderImagePadding">
          <img id='product-slider-image-{{i}}' onclick="linkSliderImages({{i}})" value="{{i}}" class="product-single__thumbnail-image productSliderImage focusedSliderImage" src="{{ image.src | img_url: '250x' }}" alt="{{ image.alt | escape }}" uk-img>
        </a>
        {% assign i = i | plus:1 %}

      {% endfor %}
      {% for image in product.images limit:4 offset:1 %}
        <a data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail class="thumbnailSize sliderImagePadding">
          <img id='product-slider-image-{{i}}' onclick="linkSliderImages({{i}})" value="{{i}}" class="product-single__thumbnail-image productSliderImage" src="{{ image.src | img_url: '250x' }}" alt="{{ image.alt | escape }}" uk-img>
        </a>
        {% assign i = i | plus:1 %}

      {% endfor %}
      {% for image in product.images offset:5 %}
        <a data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail class="thumbnailSize sliderImagePaddingHidden">
          <img id='product-slider-image-{{i}}' onclick="linkSliderImages({{i}})" value="{{i}}" class="product-single__thumbnail-image productSliderImageHidden" src="{{ image.src | img_url: '250x' }}" alt="{{ image.alt | escape }}" uk-img>
        </a>
        {% assign i = i | plus:1 %}
      {% endfor %}
    <span onclick="sliderArrowClick('right')" class="js-next-arrow" uk-icon="icon: chevron-right; ratio: 2" style="align-self: center; scale: 1.7; padding-left: 5px;"></span>
  </div>
  {% endif %}
  <div id="featuredImage" hidden class="fg-slick-image js-slider-for uk-width-4-5@m productCenterImage">
    {% for product_image in product.images %}
      {% capture wrapper_class %}
        {%- unless featured_image == image -%}
          hide
        {%- endunless -%}
      {% endcapture %}
      {% unless product.tags contains 'imageHiddenCommentedOut'%}
        {% include 'responsive-product-image' with image: product_image, image_class: "css-class", wrapper_class: "wrapper-css-class", max_width: 1600, max_height: 1600 %}
      {% else %}
        {% include 'responsive-product-image' with image: product_image, image_class: "productImageHidden", wrapper_class: "wrapper-css-class", max_width: 1600, max_height: 1600 %}
        {% break %}
      {% endunless %}
        
    {% endfor %}
  </div>
  {% comment %} Resource links desktop {% endcomment %}
  <div class="js-product-downloads-container fg-product-downloads-container uk-width-4-5@m uk-grid" style="visibility: none">
    {% render 'form-link-wiring-diagram' with tags: product.tags, class_name: 'uk-visible@m' %}
    {% if  product.metafields.custom_fields['display_custom_product_tabs'] > 0 %}
      {% render 'custom-fields-product-resources' with custom_class: 'uk-visible@m' %}
    {% else %}
      <div>
        <ul class="fg-product-downloads js-product-tutorials"></ul>
      </div>
      <div style="height: 73px">
        <ul class="fg-product-downloads js-product-downloads"></ul>
      </div>
    {% endif %}
  </div>
<script>

  function sliderArrowClick(direction){
    if(direction == 'right'){
      document.getElementsByClassName('js-prev-arrow')[0].classList.remove('fadedArrow');
      var imageToShowValue = +document.getElementsByClassName('productSliderImage')[4].getAttribute('value') + 1;
      if(!document.getElementById('product-slider-image-'+(imageToShowValue+1))){
        document.getElementsByClassName('js-next-arrow')[0].classList.add('fadedArrow');
      }
      if(document.getElementById('product-slider-image-'+imageToShowValue)){
        document.getElementsByClassName('productSliderImage')[0].classList.add('productSliderImageHidden');
        document.getElementsByClassName('sliderImagePadding')[0].classList.add('sliderImagePaddingHidden');
        document.getElementsByClassName('productSliderImage')[0].classList.remove('productSliderImage');
        document.getElementsByClassName('sliderImagePadding')[0].classList.remove('sliderImagePadding');
        document.getElementById('product-slider-image-'+imageToShowValue).classList.add('productSliderImage');
        document.getElementById('product-slider-image-'+imageToShowValue).classList.remove('productSliderImageHidden');
        document.getElementById('product-slider-image-'+imageToShowValue).parentElement.classList.add('sliderImagePadding');
        document.getElementById('product-slider-image-'+imageToShowValue).parentElement.classList.remove('sliderImagePaddingHidden');
      }
    }
    else{
      document.getElementsByClassName('js-next-arrow')[0].classList.remove('fadedArrow');
      var imageToShowValue = +document.getElementsByClassName('productSliderImage')[0].getAttribute('value') - 1;
      if(!document.getElementById('product-slider-image-'+(imageToShowValue-1))){
        document.getElementsByClassName('js-prev-arrow')[0].classList.add('fadedArrow');
      }
      if(document.getElementById('product-slider-image-'+imageToShowValue)){
        document.getElementsByClassName('productSliderImage')[4].classList.add('productSliderImageHidden');
        document.getElementsByClassName('productSliderImage')[4].classList.remove('productSliderImage');
        document.getElementsByClassName('sliderImagePadding')[4].classList.add('sliderImagePaddingHidden');
        document.getElementsByClassName('sliderImagePadding')[4].classList.remove('sliderImagePadding');
        document.getElementById('product-slider-image-'+imageToShowValue).classList.add('productSliderImage');
        document.getElementById('product-slider-image-'+imageToShowValue).classList.remove('productSliderImageHidden');
        document.getElementById('product-slider-image-'+imageToShowValue).parentElement.classList.add('sliderImagePadding');
        document.getElementById('product-slider-image-'+imageToShowValue).parentElement.classList.remove('sliderImagePaddingHidden');
      }
    }
  }


  function linkSliderImages(index){
    var arrowFaded = false;
    var sliderImages = document.getElementsByClassName('product-single__thumbnail-image');
    var sliderParents = document.getElementsByClassName('thumbnailSize');
    let sliderLength = sliderImages.length;
    let withinRange = 2;
    if((1 == index) || (index == (sliderLength - 2))){
      withinRange = 3;
    }
    for(var i = 0; i < sliderLength; i++){
      if(index == i){
          sliderImages[i].classList.add('focusedSliderImage');
        }
      else{
        sliderImages[i].classList.remove('focusedSliderImage');
      }
    }
    //sliderLength-1 = total length
    if((0 < index) && (index < sliderLength - 1)){
      for(var i = 0; i < sliderLength; i++){
        if(Math.abs(index - i) > withinRange){
          sliderImages[i].classList.add('productSliderImageHidden');
          sliderParents[i].classList.add('sliderImagePaddingHidden');
          sliderImages[i].classList.remove('productSliderImage');
          sliderParents[i].classList.remove('sliderImagePadding');
        }
        else{
          sliderImages[i].classList.remove('productSliderImageHidden');
          sliderParents[i].classList.remove('sliderImagePaddingHidden');
          sliderImages[i].classList.add('productSliderImage');
          sliderParents[i].classList.add('sliderImagePadding');
          
          if(i == 0){
            document.getElementsByClassName('js-prev-arrow')[0].classList.add('fadedArrow');
            arrowFaded = true;
          }
          else if(i == (sliderLength - 1)){
            document.getElementsByClassName('js-next-arrow')[0].classList.add('fadedArrow');
            arrowFaded = true;
          }
          else if(!arrowFaded){
            document.getElementsByClassName('js-prev-arrow')[0].classList.remove('fadedArrow');
            document.getElementsByClassName('js-next-arrow')[0].classList.remove('fadedArrow');
          }
        }
      }
    }

    document.getElementsByClassName('slick-active')[0].style.opacity = "0";
    document.getElementsByClassName('slick-active')[0].style.zIndex = "998";
    document.getElementsByClassName('slick-active')[0].classList.remove('slick-active');
    document.getElementsByClassName('slick-slide')[index].classList.add('slick-active');
    document.getElementsByClassName('slick-slide')[index].style.opacity = "1";
    document.getElementsByClassName('slick-slide')[index].style.zIndex = "999";
  }


  $('#featuredImage').removeAttr('hidden');
  $('#Slider').removeAttr('hidden');
  window.addEventListener('DOMContentLoaded', (event) => {
    document.getElementsByClassName('fg-product-downloads-container')[0].style.visibility = "initial";
  });
  
</script>
<script>
  (function ($) {
    $('.js-slider-for').on('init', function(slick){
      $('.js-slick-container').removeClass('fg-transparent');
    });

    $('.js-slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
      infinite: true,
      asNavFor: '.js-slider-nav'
    });

    $('.js-slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.js-slider-for',
      prevArrow: '.js-prev-arrow',
      nextArrow: '.js-next-arrow',
      dots: false,
      centerMode: true,
      focusOnSelect: true,
      vertical: true,
      adaptiveHeight: true,
      infinite: true,
      // the magic
      responsive: [{
        breakpoint: 639,
        settings: {
          slidesToShow: 3,
          dots: true,
          arrows: false,
          vertical: false
        },
        breakpoint: 960,
        settings: {
          slidesToShow: 3,
          dots: true,
          arrows: false,
          vertical: false
        }
      }]
    });

    $('.slick-track > a').click(function(e){
      e.preventDefault();
    });

    {% comment %} $('.slick-track > a').mouseover(function(e){
      $(this).trigger('click');
    }); {% endcomment %}

  })(jQuery);



  $(document).ready(function() {
    var partentImage = document.getElementsByClassName('product-single__thumbnail-image');
    var totalImages = document.getElementsByClassName('productImage');
    var totalImagesLength = Math.floor(document.getElementsByClassName('productImage').length/2)+1;

      for(i = 0; i < totalImages.length; i++){
        partentImage[totalImagesLength + i].parentNode.setAttribute('imageNumber', i);
        partentImage[totalImagesLength + i + totalImages.length].parentNode.setAttribute('imageNumber', i);
      }
      for(i = 1; i < (totalImagesLength+1); i++){
        //console.log(partentImage[totalImagesLength - i].parentNode);
        //console.log(totalImages[totalImages.length - i]);
        partentImage[totalImagesLength - i].parentNode.setAttribute('imageNumber', totalImages.length - i);
      }
      document.getElementsByClassName('productImagePadding')[0].addEventListener("click", function() {
        slideClicked();
      });
    });

function slideClicked(){
  var allMainImages = document.getElementsByClassName('productImage');
  var currentItems = document.getElementsByClassName('slick-current');
  var imageToHide = document.getElementsByClassName('slick-current')[0];
  var imageToShow = allMainImages[currentItems[1].getAttribute('imageNumber')];
 
  imageToHide.classList.remove('slick-current');
  imageToHide.classList.add('notActive');
  //imageToShow.style.display = "initial";
  imageToShow.classList.add('slick-current');
  imageToShow.classList.remove('notActive');
}


  
</script>
