<div class="uk-hidden@l uk-width-1-1">
  <div class="uk-navbar uk-flex uk-flex-right uk-flex-middle">
    <a href="/cart" class="fg-cart__badge fg-nav__topper_icon-align js-veiw-cart_nav">
      <span style="scale: 1.4" uk-icon="icon: cart; ratio: 1.5" class="fg-icon-left"></span>
      <span id="navbarCart" class="js-cart-item-count fg-cart__badge-overlay uk-badge">
          {{ cart.item_count }}
        </span>
    </a>
    <a style="padding-right: 0px; scale: 1.3" class="fg-nav-toggle uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-nav-primary"></a>
  </div>
  <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true; mode: push;">
    <div class="fg-offcanvas-bar uk-offcanvas-bar uk-flex uk-flex-column">
      {% include 'form-search-mobile' %}
      {%- include 'nav-announcement' -%}
      {% include 'logo-alt' %}
      {% for block in section.blocks %}
        <ul class="fg-mobile-nav-list uk-nav-default uk-nav-parent-icon" uk-nav>
          {%- if settings.display_holiday_hours == true -%}
          <li>
            <a href="#holiday-hours" class="uk-margin-small-right" uk-toggle>
              Holiday Hours
            </a>
          </li>
          {%- endif -%}
          {% for link in linklists[block.settings.linklist].links %}
            {% if link.levels > 0 %}
              <li class="uk-parent uk-nav-divider">
            {% else %}
              <li class="uk-nav-divider">
            {% endif %}
              <a href="{{ link.url }}">{{ link.title }}</a>
              {% if link.links != empty %}
                <ul class="fg-mobile-nav-list__sub-nav uk-nav-sub">
                  {% for childlink in link.links %}
                    <li class="uk-nav-divider">
                      <a href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                      {% if childlink.links != empty %}
                        <ul class="uk-nav-sub">
                          {% for extrachildlink in childlink.links %}
                            <li class="uk-nav-divider">
                              <a href="{{ extrachildlink.url }}">
                                {{ extrachildlink.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
          <li class="uk-flex-inline uk-nav-divider">
            {% include 'cart' %}
          </li>
          {% include 'nav-login' %}
          <li class="uk-nav-divider">
            <a href="tel:{{ phone }}">
              <span>{{ phone }}</span>
              <span uk-icon="icon: receiver" class="fg-icon-left"></span>
            </a>
          </li>
        </ul>
      {% endfor %}
    </div>
  </div>
</div>

<script>/*
document.addEventListener("DOMContentLoaded", function(event) {

  var actuatorControls = document.querySelectorAll("a[href='/collections/actuator-switches-remotes-relays-timers-controllers-power-supplies']");
  actuatorControls[1].style.marginLeft = '-15px';

  var slideRails = document.querySelectorAll("a[href='/collections/mini-linear-slide-rails']");
  slideRails[1].style.marginLeft = '-15px';

  var drawerSlides = document.querySelectorAll("a[href='/collections/drawer-slides']");
  drawerSlides[1].style.marginLeft = '-15px';

  var linearActuators = document.querySelectorAll("a[href='/collections/linear-actuators']");
  linearActuators[1].style.fontWeight = "bold";

  var mountingBrackets = document.querySelectorAll("a[href='/collections/mounting-brackets']");
  mountingBrackets[1].style.fontWeight = "bold";

  var rotaryActuators = document.querySelectorAll("a[href='/collections/rotary-actuators']");
  rotaryActuators[1].style.fontWeight = "bold";
  rotaryActuators[1].style.marginLeft = '-15px';

  var accessories = document.querySelectorAll("a[href='/collections/accessories']");
  accessories[1].style.fontWeight = "bold";
  accessories[1].style.marginLeft = '-15px';

  var microMotors = document.querySelectorAll("a[href='/collections/micro-motors']");
  microMotors[1].style.fontWeight = "bold";
  microMotors[1].style.marginLeft = '-15px';
  
  var roboticParts = document.querySelectorAll("a[href='/collections/robotics']");
  roboticParts[1].style.fontWeight = "bold";
  roboticParts[1].style.marginLeft = '-15px';

  var tvLifts = document.querySelectorAll("a[href='/collections/tv-lifts']");
  tvLifts[1].style.fontWeight = "bold";

  var sitStandDesks = document.querySelectorAll("a[href='/collections/sit-stand-desks']");
  sitStandDesks[1].style.fontWeight = "bold";
  sitStandDesks[1].style.marginLeft = '-15px';

  var slideRails = document.querySelectorAll("a[href='/collections/slide-rails']");
  slideRails[1].style.fontWeight = "bold";
  slideRails[1].style.marginLeft = '-15px';

});*/
</script>