{%- if image_url -%}
  <a  href="{{ image_url }}"
      title=" {%- if image_url_title -%}
                {{ image_url_title }}
              {%- endif -%}"
      target="_blank">
{%- endif -%}
<img  class=""
      data-src="{{ block.settings.image.src | img_url: '700x400' }}"
      data-srcset="{% include 'responsive-srcset-image-standard', image: block.settings.image %}"
      data-sizes="auto" alt="{{ block.settings.image.alt | escape }}"
      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
      data-sizes="auto"
      uk-img>
{%- if image_url -%}
  </a>
{%- endif -%}
{%- if image_caption != blank -%}
  <p class="uk-text-center">{{ image_caption }}</p>
{%- endif -%}
